{% extends "base.html" %} {% block title%}TEST {% endblock %} {%block content%}

<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styl1.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>
<h1 align="center">Učebnice</h1>
<div class="book">
    <a class="book_item" href="https://drive.google.com/file/d/1Pt628biPoxj-OdPDcnqzT3Myg0yghaLl/view?usp=sharing">
        <h3 class="title">Angličtina</h3>

        <img class="img_b" src="https://media.libris.to/jacket/16293773_maturita-solutions-3rd-edition-pre-intermediate-student-s-book.jpg">
    </a>

</div>




{%endblock%}