{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<head>
    <script type="text/javascript " src="{{ url_for( 'static', filename='index.js' ) }} "></script>

</head>

{% if user.is_anonymous %}
<h1 align="center">Hlášky SPŠ-Chomutov</h1>
<p align="center">Přihlaste se pro zobrazení hlášek a více informací.</p>
{%endif%} {% if user.is_authenticated and hsh!="admin"%}
<div align="center" class="landing">
    <h1 align="center">Hlášky SPŠ-Chomutov</h1>

    {%if school != True%}
    <script type="text/javascript " src="{{ url_for( 'static', filename='background.js' ) }} "></script>



    <style>
        body {
            background-size: 100vw 100vh;
            background-repeat: no-repeat;
            color: white;
        }
    </style>
    {%endif%}



</div>



{% endif%} {% endblock %}