<!DOCTYPE html>
<html lang="cz">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-machy.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Machy-Soundboard</title>
</head>

<body>

    <header>Machy-soundboard</header>
    <content>
        <div class="box" onclick="myFun(1)">
            <p>ACDC</p>
        </div>
        <div class="box" onclick="myFun(2)">
            <p>Auto</p>
        </div>
        <div class="box" onclick="myFun(2)">
            <p>Distribuce mé fotky</p>
        </div>
        <div class="box" onclick="myFun(3)">
            <p>Takže dobrý den.</p>
        </div>
        <div class="box" onclick="myFun(4)">
            <p>Kdosi dělá strandu?</p>
        </div>
        <div class="box" onclick="myFun(5)">
            <p>Kdo to byl?</p>
        </div>
        <div class="box" onclick="myFun(6)">
            <p>Léta páně</p>
        </div>
        <div class="box" onclick="myFun(7)">
            <p>Já se jenom ptám</p>
        </div>
        <div class="box" onclick="myFun(8)">
            <p>Muzika není moje</p>
        </div>
        <div class="box" onclick="myFun(8)">
            <p>Něco tak špatného<br> jsem nečekel</p>
        </div>
        <div class="box" onclick="myFun(9)">
            <p>Něco</p>
        </div>
        <div class="box" onclick="myFun(10)">
            <p>Obdivuhodné výsledky testu</p>
        </div>
        <div class="box" onclick="myFun(11)">
            <p>Pink Floyd</p>
        </div>
        <div class="box" onclick="myFun(1)">
            <p>Prosím</p>
        </div>
        <div class="box" onclick="myFun(2)">
            <p>Příště něco nového.</p>
        </div>
        <div class="box" onclick="myFun(2)">
            <p>Ruším hodinu</p>
        </div>
        <div class="box" onclick="myFun(3)">
            <p>Upgrade</p>
        </div>
        <div class="box" onclick="myFun(4)">
            <p>Vy jste hrdinové</p>
        </div>
        <div class="box" onclick="myFun(5)">
            <p>Začnu zhurta.</p>
        </div>

    </content>

    <footer>

    </footer>
    <script src="script.js "></script>
</body>

</html>